* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.active{
  background-color: black;
  color: white;
} 

.real {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.real.show {
  opacity: 1;
  transform: translateY(0);
}

.btn.active {
  background-color: #4caf50;
  color: white;
}


.img-id-shampo, .img-id-pearl{
  display: none;
}





html {
  scroll-behavior: smooth;
}


.container {
  width: 1440px;
  height: 7000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-svg img{
  cursor: pointer;
}

nav {
  position: fixed;
  z-index: 1;
  width: 1440px;
  height: 130px;
}

.nav-1 {
  width: 1290px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-contact {
  width: 15px;
  height: 15px;
  display: flex;
  gap: 20px;
}

.nav-contact img {
  width: 100%;
  height: 100%;
}

.heder-hr {
  width: 1440px;
  height: 3px;
  background-color: #8a7c70;
  border: none;
}

.nav-gmail {
  display: flex;
  gap: 15px;
}

.nav-gmail span {
  font-weight: 400;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.nav-2 {
  width: 1290px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
}

.nav-svg {
  display: flex;
  align-items: center;
  gap: 20px;
}

.line {
  width: 1px;
  height: 58px;
}

.search,
.bag {
  width: 22px;
  height: 22px;
}

.burger {
  width: 44px;
  height: 12px;
  cursor: pointer;
}



.menu {
  position: relative;
}


.burger {
  width: 34px;
  cursor: pointer;
}


.nav-list {
  position: absolute;
  top: 45px;
  right: 0;
   width: 100px;
  background: #1a1a1a;
  padding: 18px 22px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);

  transition: 0.25s ease;
}


.nav-list.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.nav-list ol {
  margin: 0;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.nav-list ol:hover {
  color: #f4c430;
  transform: translateX(4px);
}


.nav-a-teg {
  display: flex;
  gap: 40px;
}

.nav-a-teg-container {
  width: 720px;
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.nav-2-text {
  width: 152px;
  height: 24px;
}

.nav-2-text img {
  width: 100%;
  height: 100%;
}

.nav-a-teg a {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}

.main-text-hr {
  display: flex;
  width: 560px;
  justify-content: space-between;
}

.main-container {
  width: 1440px;
  height: 700px;
  background-image: url(/img/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-content {
  width: 1290px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-weight: 500;
  font-style: Medium;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;
}

.main-text i {
  font-weight: 500;
  font-style: Medium Italic;
  font-size: 90px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #be8f45;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content span {
  font-weight: 400;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;
}

.main-content hr {
  width: 160px;
  height: 1px;
}

.main-container-text {
  width: 560px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-container-img {
  width: 546px;
  height: 416px;
}

.main-button button {
  border: none;
  width: 132px;
  height: 42px;
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.main-container-img {
  width: 546px;
  height: 416px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.main-img {
  width: 262px;
  height: 180px;
}

.main-img img,
.main-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-img-1 {
  width: 264px;
  height: 416px;
}

.main-img img {
  width: 100%;
  height: 100%;
}

.main-1-container {
  width: 1440px;
  height: 530px;
  display: flex;
}

.main-1-img {
  width: 835px;
  height: 530px;
}

.main-1-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 605px;
  height: 530px;
  background: linear-gradient(
    124.267deg,
    #c39246 6%,
    #d1a96a 41%,
    #e5bc7a 77%,
    #e1bb80 100%
  );
}

.main-1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-1-onlytext {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}

.main-1-onlytext h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.main-1-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-1-onlytext p {
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
}

li {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.main-1-onlytext {
  color: white;
}

.main-1-button button {
  width: 132px;
  height: 42px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.heder-main2 {
  width: 1290px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-2-text h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.main-2-text i {
  color: #be8f45;
}

.main-2-container {
  width: 1440px;
  height: 900px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.img-main2-container {
  width: 1440px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.slider {
  overflow: hidden;
  display: flex;
  width: 1270px;
}

.track {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease;
}

.track img {
  flex: 0 0 calc((100% - 40px) / 3);
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}


.dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dots span {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dots span.active {
  background: black;
  transform: scale(1.3);
}


.img-main2-div {
  width: 410px;
  height: 486px;
}

.hr-main2 hr {
  width: 1290px;
}

.hr-main2 {
  margin: 0 auto;
}

.img-main2-div img {
  flex-shrink: 0; 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-3-container {
  width: 1440px;
  height: 800px;
  background-image: url(/img/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-3-content {
  width: 1290px;
  height: 447px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-3-text {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-3-text h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #ffffff;
}

.main-3-text p {
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #d4d4d4;
}

.main-3-text-img h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #be8f45;
}

.main-3-text-svg h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;
}

.main-3-text-svg {
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  text-transform: capitalize;
  color: white;
}

.img3-div-1 {
  width: 198px;
  height: 191px;
}

.img3-div-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img3-div-2 {
  width: 115px;
  height: 106px;
}

.img3-div-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-3-img {
  width: 300px;
  height: 450px;
}

.main-3-cardtext {
  width: 571px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-3-text-svg,
.main-3-text-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed white;
  width: 570px;
  height: 46px;
  padding-bottom: 10px;
}

.main-3-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.img-3 {
  display: flex;
  justify-content: flex-end;
}

.main-3-img-content {
  padding-top: 30px;
  height: 470px;
}

.main-4-container {
  width: 1440px;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-4-content {
  width: 1440px;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-4-content h2 {
  font-weight: 400;
  font-size: 140px;
  leading-trim: NONE;
  line-height: 144px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(
    124.267deg,
    #c39246 6%,
    #d1a96a 41%,
    #e5bc7a 77%,
    #e1bb80 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-4-heder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heder-text-main4 {
  margin-top: 55px;
}

.main-4-content {
  position: relative;
}

.main-4-img-1 {
  width: 216px;
  height: 271px;
  position: absolute;
  left: 19%;
  top: 30%;
}

.main-4-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-4-img-2 {
  width: 310px;
  height: 470px;
  position: absolute;
  left: 40%;
  top: 20%;
}

.main-4-img-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-4-img-3 {
  width: 216px;
  height: 271px;
  position: absolute;
  right: 20%;
  top: 30%;
}

.main-4-img-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-5-container {
  width: 1440px;
  height: 637px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
}

.main-5-content {
  width: 1440px;
  height: 87px;
  border-top: 1px solid #D9D9D9;
}

.main-5-content {
  display: flex;               /* элементы в ряд */
  gap: 20px;                   /* расстояние между элементами */
  white-space: nowrap;         /* все в одну строку */
  overflow: hidden;            /* скрыть то, что выходит за пределы */
}

.main-5-content span,
.main-5-content img {
  display: inline-block;       /* чтобы span и img были на одной линии */
  vertical-align: middle;
}

.marquee-inner {
  display: inline-flex;
   width: 1440px;
  justify-content: space-between;
  align-items: center;
  animation: marquee 10s linear infinite; /* скорость и повторение */
}

@keyframes marquee {
  0%   { transform: translateX(100%); }  /* старт за экраном справа */
  100% { transform: translateX(-100%); } /* уход за экран слева */
}

.main-5-content span {
  font-weight: 400;
  font-size: 25px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.main-5-girl {
  width: 74px;
  height: 34px;
}

.main-5-star {
  width: 34px;
  height: 34px;
}

.main-5-img{
width: 1440px;
height: 550px;
}

.main-5-img img{
  width: 100%;
  height: 100%;
}

.main-6-container{
 width: 1440px;
height: 900px;
}

.main-6-content{
  width: 1290px;
height: 800px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 0 auto;
gap: 60px;
}

.main-6-card{
  width: 1290px;
height: 443px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

gap: 25px;
}

.card-1, .card-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}


.card-hr{
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}

.main-6-text {
  text-align: center;
}

.main-6-text h2{
font-weight: 500;
font-style: Medium;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
text-transform: capitalize;
}

.main-6-text p{
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
 color: #7C7C7C;
}


.kavichki{
  width: 32px;
height: 32px;
}

.card p{
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
}

.avatar{
  border-radius: 200px;
  width: 50px;
  height: 50px;
}

.card h2 {
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
}

.card{
  width: 294px;
height: 200px;
display: flex;
 justify-content: center;
 align-items: center;
flex-direction: column;
gap: 15px;
}

.hr-6 hr{
  width: 1px;
height: 180px;
color: #D9D9D9;
}

.main-7-container{
  width: 1440px;
  height: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-7-content{
  width: 1290px;
height: 661px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.img-7-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-7-img-1 {
   width: 410px;
height: 320px;
position: relative;
}


.main-7-img-2{
  width: 410px;
height: 400px;
position: relative;
}


.main-7-img-3{
  width: 410px;
height: 350px;
position: relative;
}

.span-7-absolute{
font-weight: 400;
font-size: 12px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-transform: uppercase;
color: #D4D4D4;
position: absolute;
bottom: 60px;
left: 30px;
}

.h2-7-absolute{
font-weight: 500;
font-style: Medium;
font-size: 26px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-transform: capitalize;
color: white;
position: absolute;
bottom: 30px;
left: 30px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.swoop {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
}

.swoop::-webkit-scrollbar {
  display: none;
}

.main-7-slide {
  flex: 0 0 33.33%;
}

.main-7-slide img {
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 12px;
}


.krugi {
  text-align: center;
  margin-top: 20px;
}

.krugi span {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.krugi .active {
  background: black;
  transform: scale(1.2);
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.btn-7-absolute{
  width: 60px;
height: 20px;
border: none;
border-radius: 10px;
font-weight: 400;
font-size: 12px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-transform: uppercase;
color: #BE8F45;
position: absolute;
top: 20px;
right: 20px;
}

.main-8-container{
  width: 1440px;
height: 660px;
display: flex;
justify-content: space-around;
align-items: center;
background-image: url(./img/bg.png);
}

.main-text-8{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-8-button{
  display: flex;
  justify-content: flex-end;
  width: 300px;
margin-left: 20px;
}

.main-text-8 h2{
font-weight: 500;
font-style: Medium;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-transform: capitalize;
color: white;
}

.main-text-8 i{
font-weight: 500;
font-style: Medium Italic;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-transform: capitalize;
color: #BE8F45;
}

.main-text-8 p {
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
color: #D4D4D4;
}


.text-container{
   display: flex;
   flex-direction: column;
   gap: 40px;
}


.main-8-svg img{
height: 42px;
width: 42px;
}

.main-8-svg {
  border: 1px solid #7E7167;
  border-radius: 70px  ;
  width: 62px;
height: 62px;
display: flex;
justify-content: center;
align-items: center;
}

.main-card-8{
  width: 920px;
height: 430px;
display: flex;
gap: 25px;
}

.card-8{
  width: 290px;
height: 430px;
display: flex;
flex-direction: column;
gap: 10px;
}

.img-container-8{
  width: 290px;
height: 360px;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
}

.card-text-8 h2{
font-weight: 500;
font-style: Medium;
font-size: 22px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-transform: capitalize;
color: white;
}

.card-text-8 span{
font-weight: 400;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-transform: capitalize;
color: white;
}

.card-text-8{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img-main-content-1 {
    width: 164px;
height: 218px;
}

.img-main-content-1 img{
  width: 100%;
  height: 100%;
}

.img-main-content-2{
  width: 178px;
height: 220px;
}

.img-main-content-2 img{
  width: 100%;
  height: 100%;
}

.img-main-content-3{
  width: 50px;
height: 185px;
}

.img-main-content-3 img{
  width: 100%;
  height: 100%;
}

.main-8-button{
  display: flex;
  justify-content: flex-start;
  height: 100px;
}


.main-8-button button{
  width: 132px;
height: 42px;
font-weight: 400;
font-size: 17px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
background-color: transparent;
color: white;
}

footer{
  width: 1440px;
height: 395px;
background-color: #221604;
display: flex;
justify-content: center;
align-items: center;
}

.footer-content{
  width: 1290px; 
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content-1, .footer-content-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #AEAEAE;
font-weight: 400;
font-size: 14px;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
text-transform: capitalize;
gap: 2px;
}

.footer-icno{
  display: flex;
}

.newsletter-conteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  border-bottom: 2px solid #767676;
}


.footer-content-2{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-hr{
  width: 1px;
height: 228px;
border: none;
background-color: #403422;
}

.newsletter-conteiner span {
  text-align: center;
  color: #767676;
  font-weight: 400;
font-size: 17px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-transform: capitalize;
}

.footer-cassini{
   display: flex;
   justify-content: center;
}

.footer-icno {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-fb img{
  width: 7px;
  height: 14px;
}

.footer-twiter img, .footer-inst {
  width: 14px;
  height: 14px;
}

.footer-cassini img{
  width: 228px;
height: 36px;
}

.heder-content{
font-weight: 400;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
text-transform: capitalize;
color: white;
margin-bottom: 15px;
}


.input-nav{
  display: none;
}


.input-nav input {
  width: 200px;
  height: 50px;
  border: none;
  font-size: 20px;
  padding-left: 30px;
  border-radius: 100px;
}

.input-nav.active {
  display: flex;
  gap: 20px;
}


.input-nav button{
  width: 100px;
  height: 50px;
  border-radius: 150px;
  border: none;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  background-color: transparent;
}

.btn-input.active{
  display: none;
}

