* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  height: 7340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  width: 1440px;
  height: 130px;
}

.nav-1 {
  width: 1290px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-contact {
  width: 15px;
  height: 15px;
  display: flex;
  gap: 20px;
}

.nav-contact img {
  width: 100%;
  height: 100%;
}

.heder-hr {
  width: 1440px;
  height: 3px;
  background-color: #8a7c70;
  border: none;
}

.nav-gmail {
  display: flex;
  gap: 15px;
}

.nav-gmail span {
  font-weight: 400;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.nav-2 {
  width: 1290px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-svg {
  display: flex;
  align-items: center;
  gap: 20px;
}

.line {
  width: 1px;
  height: 58px;
}

.search,
.bag {
  width: 22px;
  height: 22px;
}

.burger {
  width: 44px;
  height: 12px;
}

.nav-a-teg {
  display: flex;
  gap: 40px;
}

.nav-a-teg-container {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-2-text {
  width: 152px;
  height: 24px;
}

.nav-2-text img {
  width: 100%;
  height: 100%;
}

.nav-a-teg a {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}

.main-text-hr {
  display: flex;
  width: 560px;
  justify-content: space-between;
}

.main-container {
  width: 1440px;
  height: 700px;
  background-image: url(/img/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-content {
  width: 1290px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-weight: 500;
  font-style: Medium;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;
}

.main-text i {
  font-weight: 500;
  font-style: Medium Italic;
  font-size: 90px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #be8f45;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content span {
  font-weight: 400;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;
}

.main-content hr {
  width: 160px;
  height: 1px;
}

.main-container-text {
  width: 560px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-container-img {
  width: 546px;
  height: 416px;
}

.main-button button {
  border: none;
  width: 132px;
  height: 42px;
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.main-container-img {
  width: 546px;
  height: 416px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.main-img {
  width: 262px;
  height: 180px;
}

.main-img img,
.main-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-img-1 {
  width: 264px;
  height: 416px;
}

.main-img img {
  width: 100%;
  height: 100%;
}

.main-1-container {
  width: 1440px;
  height: 530px;
  display: flex;
}

.main-1-img {
  width: 835px;
  height: 530px;
}

.main-1-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 605px;
  height: 530px;
  background: linear-gradient(
    124.267deg,
    #c39246 6%,
    #d1a96a 41%,
    #e5bc7a 77%,
    #e1bb80 100%
  );
}

.main-1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-1-onlytext {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}

.main-1-onlytext h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.main-1-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-1-onlytext p {
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
}

li {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.main-1-onlytext {
  color: white;
}

.main-1-button button {
  width: 132px;
  height: 42px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.heder-main2 {
  width: 1290px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-2-text h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.main-2-text i {
  color: #be8f45;
}

.main-2-container {
  width: 1440px;
  height: 900px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.img-main2-container {
  width: 1440px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img-main2-div {
  width: 410px;
  height: 486px;
}

.hr-main2 hr {
  width: 1290px;
}

.hr-main2 {
  margin: 0 auto;
}

.img-main2-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-3-container {
  width: 1440px;
  height: 800px;
  background-image: url(/img/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-3-content {
  width: 1290px;
  height: 447px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-3-text {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-3-text h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #ffffff;
}

.main-3-text p {
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #d4d4d4;
}

.main-3-text-img h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #be8f45;
}

.main-3-text-svg h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: white;
}

.main-3-text-svg {
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: right;
  text-transform: capitalize;
  color: white;
}

.img3-div-1 {
  width: 198px;
  height: 191px;
}

.img3-div-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img3-div-2 {
  width: 115px;
  height: 106px;
}

.img3-div-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-3-img {
  width: 300px;
  height: 450px;
}

.main-3-cardtext {
  width: 571px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-3-text-svg,
.main-3-text-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed white;
  width: 570px;
  height: 46px;
  padding-bottom: 10px;
}

.main-3-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.img-3 {
  display: flex;
  justify-content: flex-end;
}

.main-3-img-content {
  padding-top: 30px;
  height: 470px;
}

.main-4-container {
  width: 1440px;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-4-content {
  width: 1440px;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-4-content h2 {
  font-weight: 400;
  font-size: 140px;
  leading-trim: NONE;
  line-height: 144px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(
    124.267deg,
    #c39246 6%,
    #d1a96a 41%,
    #e5bc7a 77%,
    #e1bb80 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-4-heder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heder-text-main4 {
  margin-top: 55px;
}

.main-4-content {
  position: relative;
}

.main-4-img-1 {
  width: 216px;
  height: 271px;
  position: absolute;
  left: 19%;
  top: 30%;
}

.main-4-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-4-img-2 {
  width: 310px;
  height: 470px;
  position: absolute;
  left: 40%;
  top: 20%;
}

.main-4-img-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-4-img-3 {
  width: 216px;
  height: 271px;
  position: absolute;
  right: 20%;
  top: 30%;
}

.main-4-img-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-5-container {
  width: 1440px;
  height: 637px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
}

.main-5-content {
  width: 1440px;
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #D9D9D9;
}

.main-5-content span {
  font-weight: 400;
  font-size: 25px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.main-5-girl {
  width: 74px;
  height: 34px;
}

.main-5-star {
  width: 34px;
  height: 34px;
}

.main-5-img{
width: 1440px;
height: 550px;
}

.main-5-img img{
  width: 100%;
  height: 100%;
}

